@model MoviesDetailsServiceModel

<div class="card" style="width: 25rem;margin:0 auto;">
    <img src="@Model.ImageUrl" class="card-img-top" />
    <div class="card-body">
         <h5 class="card-title">@Model.Title - @Model.YearReleased</h5>
         <h5 class="card-text">Writer: @Model.Writer</h5>
         <h5 class="card-text">Director: @Model.Director</h5>
         <p class="card-text">Description: @Model.Description</p>
         <p class="card-text">Price: @Model.Price$</p>
         <a href="#" class="btn btn-primary">Buy</a>
     </div>
</div>
